<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
  style="background:url(assets/images/background/login-register.jpg) no-repeat center center;">
  <div class="auth-box m-3 m-md-0">
    <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = ''">{{ errorMessage }}</ngb-alert>
    <div id="otpform">
      <!-- Form -->
      <div class="row">
        <div class="col-12 text-center">
          <h4 class="text-white">Enter Your Verified Mobile Number</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <ng-container *ngIf="!resetForm">
            <form class="form-horizontal m-t-20" [formGroup]="mobileForm">
              <div class="form-group w-75 m-auto">
                <div class="mb-2">
                  <!-- <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                                    </div> -->
                  <input type="text" formControlName="mobile" maxlength="10" class="form-control text-center"
                    placeholder="Enter Mobile Number">
                  <div *ngIf="mobileForm.get('mobile')?.touched && mobileForm.get('mobile').invalid">
                    <small class="text-danger" *ngIf="mobileForm.get('mobile').errors?.required">Mobile
                      Number is Required</small>
                  </div>
                </div>
              </div>
              <div class="form-group w-75 m-auto" *ngIf="!mobileform">
                <div class="mb-3">
                  <!-- <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                                    </div> -->
                  <input type="text" formControlName="otp" aria-label="Password" aria-describedby="basic-addon1"
                    class="form-control text-center" placeholder="Enter OTP">
                  <div *ngIf="mobileForm.get('otp')?.touched && mobileForm.get('otp').invalid">
                    <small class="text-danger" *ngIf="mobileForm.get('otp').errors?.required">OTP
                      Required</small>

                  </div>
                  <p><a href="javascript:void(0)" *ngIf="timeleft===-1" class="resent-text" (click)="resendOtp()">Resend
                      OTP</a>
                    <a href="javascript:void(0)" class="resent-text" *ngIf="timeleft>0">Resend
                      OTP after {{timer}}</a>
                  </p>
                </div>
              </div>


              <div class="form-group text-center">
                <div class="col-xs-12 p-b-20 mt-3">

                  <button type="Submit" [disabled]="mobileForm.invalid" class="btn btn-block btn-md btn-info m-auto"
                    (click)="sendVerificationCode(mobileForm,mobileform)">

                    Verify
                  </button>

                </div>
              </div>

            </form>
          </ng-container>

          <ng-container *ngIf="resetForm">
            <form class="form-horizontal m-t-20" [formGroup]="setPasswordForm">

              <div class="form-group w-75 m-auto">
                <div class="mb-3 password">
                  <!-- <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                                    </div> -->
                  <input [type]="password.pass ? 'text' : 'password'" formControlName="newPassword"
                    class="form-control text-center" placeholder="Enter New Password" placement="top"
                    ngbTooltip="Your password must be minimum 8 characters long, contain letters, at least one uppercase letter, special characters and numbers, and must not contain spaces.">
                  <span (click)="password.pass=!password.pass">
                    <i class="mdi " [ngClass]="password.pass ? 'mdi-eye' : 'mdi-eye-off'"></i>
                  </span>
                  <div
                    *ngIf="setPasswordForm.get('newPassword')?.touched && setPasswordForm.get('newPassword').invalid">
                    <small class="text-danger" *ngIf="setPasswordForm.get('newPassword').errors?.required">Password is
                      Required</small>
                  </div>
                </div>

              </div>
              <div class="form-group w-75 m-auto">
                <div class="mb-3 password">
                  <!-- <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                                    </div> -->
                  <input [type]="password.confirmPass ? 'text' : 'password'" formControlName="confirmPassword"
                    class="form-control text-center" placeholder="Enter Confirm Password">
                  <span (click)="password.confirmPass=!password.confirmPass">
                    <i class="mdi " [ngClass]="password.confirmPass ? 'mdi-eye' : 'mdi-eye-off'"></i>
                  </span>
                  <div
                    *ngIf="setPasswordForm.get('confirmPassword')?.touched && setPasswordForm.get('confirmPassword').invalid">
                    <small class="text-danger" *ngIf="setPasswordForm.get('confirmPassword').errors?.required">Confirm
                      Password
                      is Required</small>
                    <small class="text-danger" *ngIf="setPasswordForm.get('confirmPassword').errors?.mustMatch">Confirm
                      Password must match</small>
                  </div>
                </div>

              </div>
              <div class="form-group text-center">
                <div class="col-xs-12 p-b-20 mt-3">

                  <button type="Submit" [disabled]="setPasswordForm.invalid"
                    class="btn btn-block btn-md btn-info m-auto" (click)="submitChangePassword(setPasswordForm)">

                    Verify
                  </button>

                </div>
              </div>

            </form>
          </ng-container>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- <ng-container *ngIf="isLoading | async">
    <app-api-spinner></app-api-spinner>
</ng-container> -->
