<div class="mh-100">
  <div class="d-flex justify-content-center my-2">
    <h3 class="waybill-heading text-white ">Enter your Tracking ID / Waybill Number</h3>
  </div>
  <div class="search-bar">
    <form [formGroup]="SearchWayBillForm" (ngSubmit)="SearchWaybill()">
      <div class="input-group">
        <label for="support-search-input" class="hide">
          Enter Your No 231329111
        </label>
        <input type="text" formControlName="WayBillNo" placeholder="Enter Your No 231329111"
          class="form-control rs-search" />
        <div class="searchBtn ">
          <button class="btn btn-light bg-yellow text-white" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
