<div class="bg-white px-2 py-2 rounded mt-1">
  <div class="ml-2 mt-2">
    <h4>Change Password</h4>
    <div class="mb-3"> <span class="text-danger"> (*) </span> <span class="text-secondary"> All Field Required</span>
    </div>

    <div class="w-50">
      <!-- form -->
      <form [formGroup]="changePassword">
        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <label for="currentPassword" class="form-label">Current Password <span
                  class="text-danger">*</span></label>
              <div class="password">
                <input formControlName="currentPassword" [type]="showCurPass ? 'text' : 'password'"
                  class="form-control text" placeholder="Enter Current Password" id="currentPassword" />
                <span (click)="showCurPass=!showCurPass"><i class="fa "
                    [ngClass]="showCurPass ? 'fa-eye' : 'fa-eye-slash'"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <label for="newPassword" class="form-label">New Password <span class="text-danger">*</span></label>

              <div class="password">
                <input formControlName="newPassword" [type]="showNewPass ? 'text' : 'password'"
                  class="form-control text" placeholder="Enter New Password" id="newPassword" />
                <span (click)="showNewPass=!showNewPass"><i class="fa "
                    [ngClass]="showNewPass ? 'fa-eye' : 'fa-eye-slash'"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm Password <span
                  class="text-danger">*</span></label>
              <div class="password">
                <input id="confirmPassword" name="confirmPassword" [type]="showConfirmPass ? 'text' : 'password'"
                  formControlName="confirmPassword" aria-label="Password" aria-describedby="basic-addon1"
                  class="form-control text" placeholder="Confirm Password">
                <span (click)="showConfirmPass=!showConfirmPass"><i class="fa "
                    [ngClass]="showConfirmPass ? 'fa-eye' : 'fa-eye-slash'"></i></span>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-12">
            <button type="button" (click)="submit()" class="btn btn-primary mr-3">Submit</button>
            <button type="button" (click)="cancel()" class="btn btn-secondary">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
