<footer class="site-footer">

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="footer-widget">
          <h4>About Bigship</h4>
          <p>Bigship is India’s first business hub that offers you solutions for all your eCommerce business needs. This
            is a robust platform for a best-in-class shipping experience for all the social sellers, marketplace
            sellers, shop owners and high-volume eCommerces. Focus on growing your business while we help you keep your
            costs and tasks in line. Keep connected and make us a part of your success story.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-widget">
          <h4>Know more</h4>
          <ul class="footer-list">
            <li><a href="https://bigship.in/about-us.php" title="About Us">About Us</a></li>
            <li><a href="https://bigship.in/heavy-shipment.php" title="Shipment Tracking">Heavy Shipment</a></li>
            <li><a href="https://bigship.in/international-courier-service.php"
                title="International Shipping">International Shipping</a></li>
            <li><a href="https://bigship.in//best-digital-marketing-service/" title="Digital Marketing">Digital
                Marketing</a></li>
            <li><a href="https://app.bigship.in/shipment-tracking" title="Shipment Tracking">Shipment Tracking</a></li>
            <li><a href="https://bigship.in/blog" title="Blog">Blog</a></li>
            <li><a href="https://bigship.in/careers.php" title="Careers">Careers</a></li>
            <li><a href="https://bigship.in/contact-us.php" title="Contact us">Contact us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-widget">
          <h4>Contact</h4>
          <ul class="contact-infos">
            <li><a href="mailto:reachus@bigship.in"><i class="fa fa-envelope"></i>reachus@bigship.in</a></li>
            <li><a href="tel:09582837312"><i class="fa fa-phone-square"></i>09582837312</a></li>
            <li class="map-1"><a href="#"><i class="fa fa-map-marker"></i>146-B/12, 2nd Floor, Guru Nanak Pura, Laxmi
                Nagar, New Delhi, 110092</a></li>
          </ul>
          <h5 class="pt-3">Social Connects</h5>
          <div class="social-block socel-bl1">
            <a href="https://twitter.com/Bigship_in" class="twiter" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/Big-Ship-101641184976616/" class="facebook" target="_blank"><i
                class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/bigship.in/?hl=en" class="instagram" target="_blank"><i
                class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/big-ship" class="linkedin" target="_blank"><i
                class="fab fa-linkedin"></i></a>
            <a href="https://www.youtube.com/channel/UCLhcWUr8H5bhIdpwY3WnJRw/featured" class="youtube"
              target="_blank"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-widget">
          <div class="pt-4"><img src="assets/images/background/mad.png" class="img-fluid"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="footer-menu-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bottom-menu">
            <span>
              <a href="https://bigship.in/term-conditions" title="Terms &amp; Condition">Terms &amp; Condition</a>
              <a href="https://bigship.in/privacy-policy" title="Privacy Policy">Privacy Policy</a>
              <a href="https://bigship.in/faq" title="FAQ">FAQ</a>
              <a href="https://bigship.in/disclaimer" title="Disclaimer">Disclaimer</a>
            </span>
          </div>
          <div>
            <p>Copyright © 2020-2021 Bigship. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="footer-bottom-img"><img src="assets/images/background/mad.png" class="img-fluid"></div> -->
  <div class="footer-bottom-img"><img src="assets/images/background/border-background_optimized_optimized_optimized.png"
      class="img-fluid"></div>
</footer>
<!-- <footer class="site-footer">

    <div class="upper-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="footer-widget about-widget">
              <div class="widget-title">
                <h3>About</h3>
              </div>
              <p>

                Bigship is India’s first business hub that offers you solutions for all your ecommerce business needs. This is a robust platform for a best-in-class shipping experience for all the social sellers, marketplace sellers, own shop owners and high-volume ecommerce.  Focus on growing your business while we help you keep your costs and tasks in line. Keep connected and make us a part of your success story.
              </p>
              <div class="social-block">
                <a href="https://twitter.com/Bigship_in" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/Big-Ship-101641184976616/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/bigship.in/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/company/big-ship" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.youtube.com/channel/UCLhcWUr8H5bhIdpwY3WnJRw/featured" target="_blank"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mb-5 mb-lg-0">
            <div class="footer-widget">
              <div class="widget-title">
                <h3>Know more</h3>
              </div>
              <ul class="link-lists">


                <li><a href="https://bigship.in/about-us" target="_blank">About Us</a></li>
                <li><a routerLink="/tracking" target="_blank">Shipment Tracking</a></li>
                <li><a href="https://bigship.in/best-digital-marketing-service" target="_blank">Digital Marketing</a></li>
                <li><a href="https://bigship.in/blog/" target="_blank">Blog</a></li>
                <li><a href="https://bigship.in/careers" target="_blank">Careers</a></li>
                <li><a href="https://bigship.in/contact-us" target="_blank">Contact us</a></li>


              </ul>

              <div class="widget-title mad-1 d-block d-lg-none">
                <img src="assets/images/background/mad.png" class="img-fluid">
              </div>

            </div>
          </div>



          <div class="col-lg-2 mb-3 mb-lg-0">
            <div class="footer-widget">
              <div class="widget-title">
                <h3>Contact</h3>


              </div>

              <ul class="contact-infos">
                <li><a href="mailto:reachus@bigship.in"><i class="fa fa-envelope"></i> reachus@bigship.in</a></li>
                <li><a href="tel:011-40747595"><i class="fa fa-phone-square"></i>011-40747595</a></li>
                <li class="map-1"><a href="#"><i class="fa fa-map-marker" style="bottom: -35px;"></i>146-B/12, 2nd
                    Floor, Guru Nanak Pura, Laxmi Nagar,
                    New Delhi, 110092</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 non-pl">
            <div class="footer-widget">
              <div class="widget-title d-none d-lg-block">
                <img src="assets/images/background/mad.png" class="img-fluid">
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="contactOuterBottom">
      <div class="container footer">

        <div class="address">
          <a href="https://bigship.in/term-conditions" target="_blank">Terms &amp; Condition</a>
          <a href="https://bigship.in/privacy-policy" target="_blank">Privacy Policy</a>
          <a href="https://bigship.in/faq" target="_blank">FAQ</a>
          <a href="https://bigship.in/disclaimer" target="_blank">Disclaimer</a>

          <p>Copyright Ⓒ 2020-2021 Bigship. All Rights Reserved.</p>
        </div>
      </div>

      <div></div>
    </div>
    <img class="ft1" src="assets/images/background/border-background_optimized_optimized_optimized.png" alt="rod">
  </footer> -->
<div class="ris-menu">

  <div class="basel-toolbar icons-design-line basel-toolbar-label-show">
    <div class="basel-toolbar-shop basel-toolbar-item lcl-1">

      <a href="javascript:void(0)" (click)="navigate('login')" routerLink="/authentication/login">
        <img class="img-menu" src="assets/images/login-icon.png">
        <span class="basel-toolbar-label"> Login </span> </a>
    </div>


    <div class="basel-toolbar-shop basel-toolbar-item search lcl-2">

      <a href="https://bigship.in/about-us.php" target="_blank">
        <img class="img-menu" src="assets/images/ab.png" alt="About">
        <span class="basel-toolbar-label"> About </span> </a>
    </div>

    <div class="basel-toolbar-shop basel-toolbar-item recent lcl-2">

      <a href="https://bigship.in/blog/" target="_blank">
        <img class="img-menu" src="assets/images/blog-icon.png" alt="Blog">
        <span class="basel-toolbar-label"> Blog </span> </a>
    </div>


    <div class="basel-toolbar-shop basel-toolbar-item wishlist2 lcl-4">

      <a href="javascript:void(0)" (click)="navigate('register')" routerLink="/authentication/signup">
        <img class="img-menu" src="assets/images/plan.png" alt="View Plan ">
        <span class="basel-toolbar-label"> Sign Up </span> </a>
    </div>

  </div>
</div>
