<!-- <div class="page no-padding">
  <div class="hc-search">
    <div class="hc-search-c">
      <form class="hc-search-form print--remove" autocomplete="off" action="/support/search/solutions"
        id="hc-search-form" data-csrf-ignore="true">
        <div class="hc-search-input">
          <label for="support-search-input" class="hide">Enter your search term here...</label>
          <input placeholder="Enter your search term here..." type="text" name="term"
            class="special ui-autocomplete-input" value="" rel="page-search" data-max-matches="10"
            id="support-search-input" autocomplete="off">
        </div>
        <div class="hc-search-button">
          <button class="btn btn-primary" aria-label="Search" type="submit" autocomplete="off">
            <i class="mobile-icon-search hide-tablet"></i>
            <span class="hide-in-mobile">
              Search
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="hc-nav  nav-with-contact ">
    <nav>
      <div class="hide-in-mobile"><a href="/support/login">Login</a> to submit a new ticket</div>
      <div>
        <a href="/support/tickets" class="mobile-icon-nav-status check-status ellipsis" title="Check ticket status">
          <span>Check ticket status</span>
        </a>
      </div>
      <div> <a href="tel:9266623006" class="mobile-icon-nav-contact contact-info ellipsis">
          <span>9266623006</span>
        </a> </div>
    </nav>
  </div>
</div> -->

<h1>Hello1</h1>
