<div class="search d-flex justify-content-center align-items-center">
  <app-search-input></app-search-input>
</div>

<app-query-types></app-query-types>

<section class="bg-white pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="" style="width: 300px;">
          <h3 class="text-light-blue mb-4">Top Queries</h3>
          <ul class="list-group list-group-flush">
            <li (click)="changeSelection(item.id)" id="article_{{item.id}}"
              class="list-group-item list-group-item-action clickable" *ngFor="let item of topArticleLst"
              [ngClass]="item.selected ? 'active' : ''">{{item.title}}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-7">
        <section class="bg-grey ml-4" style="width: 700px;">
          <div class="bordered-grey">
            <div id="content"></div>
            <button (click)="showArticle()" class="btn btn-primary bg-cus-primary mx-3 my-3">View More &nbsp; <i
                class="fa fa-angle-right"></i></button>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<!-- <ng-container *ngIf="isLoading | async">
  <app-api-spinner></app-api-spinner>
</ng-container> -->
